body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

h1 {
  text-align: center;
}

section {
  background: white;
  padding: 15px;
  margin: 15px auto;
  width: 600px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

input {
  padding: 8px;
  margin: 5px;
  width: 200px;
}

button {
  padding: 8px 15px;
  background: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
